{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            {{ form_start(form) }}
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
