{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link href="https://getbootstrap.com/docs/4.1/examples/dashboard/dashboard.css" rel="stylesheet">
{% endblock %}

{% block body %}
    <section id="tabs" class="project-tab">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <nav>
                        <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                            <a class="nav-item nav-link active" id="nav-usr-statistics-tab" data-toggle="tab" href="#nav-usr-statistics" role="tab" aria-controls="nav-usr-statistics" aria-selected="true">TOP {{ constant('App\\Component\\DonationServiceComponent::MAX_TOP_USER')}} users statistics</a>
                            <a class="nav-item nav-link" id="nav-date-statistics-tab" data-toggle="tab" href="#nav-date-statistics" role="tab" aria-controls="nav-date-statistics" aria-selected="false">This month statistics</a>
                            <a class="nav-item nav-link" id="nav-date-statistics-tab-last" data-toggle="tab" href="#nav-date-statistics-last" role="tab" aria-controls="nav-date-statistics-last" aria-selected="false">Last month statistics</a>
                            <a class="nav-item nav-link" id="nav-companies-tab" data-toggle="tab" href="#nav-companies" role="tab" aria-controls="nav-companies" aria-selected="false">Top companies</a>
                            <a class="nav-item nav-link" id="nav-dashboard-tab" data-toggle="tab" href="#nav-dashboard" role="tab" aria-controls="nav-dashboard" aria-selected="false">Dashboard</a>
                        </div>
                    </nav>
                    <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="nav-usr-statistics" role="tabpanel" aria-labelledby="nav-usr-statistics-tab">
                            <table class="table">
                                <thead>
                                <th>№</th>
                                <th>Name</th>
                                <th>Email</th>
                                <th>All amount</th>
                                </thead>
                                <tbody>
                                {% for index, user in users %}
                                    <tr>
                                        <td>{{ index + 1 }}</td>
                                        <td>{{ user.userName }}</td>
                                        <td>{{ user.email }}</td>
                                        <td>{{ user.allAmount }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div class="tab-pane fade" id="nav-date-statistics" role="tabpanel" aria-labelledby="nav-date-statistics-tab">
                            <table class="table">
                                {% for index, item in dates[constant('App\\Component\\Doctrine\\DateTimePeriod::THIS_MONTH')] %}
                                    <tr>
                                        <td>{{ index + 1 }}</td>
                                        <td>{{ item.dateCreated|date('Y-m-d H:i:s') }}</td>
                                        <td>{{ item.userName }}</td>
                                        <td>{{ item.email }}</td>
                                        <td>{{ item.amount }}</td>
                                        <td>{{ item.message }}</td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </div>

                        <div class="tab-pane fade" id="nav-date-statistics-last" role="tabpanel" aria-labelledby="nav-date-statistics-tab-last">
                            <table class="table">
                                {% for index, item in dates[constant('App\\Component\\Doctrine\\DateTimePeriod::LAST_MONTH')] %}
                                    <tr>
                                        <td>{{ index + 1 }}</td>
                                        <td>{{ item.dateCreated|date('Y-m-d H:i:s') }}</td>
                                        <td>{{ item.userName }}</td>
                                        <td>{{ item.email }}</td>
                                        <td>{{ item.amount }}</td>
                                        <td>{{ item.message }}</td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </div>

                        <div class="tab-pane fade" id="nav-dashboard" role="tabpanel" aria-labelledby="nav-dashboard-tab">
                            <canvas class="my-4 w-100 chartjs-render-monitor" id="myChart" data-data="{{ dataForDashBoard }}"></canvas>
                        </div>
                        <div class="tab-pane fade" id="nav-companies" role="tabpanel" aria-labelledby="nav-companies-tab">
                            <table class="table">
                                <tr>
                                    <th>№</th>
                                    <th>Name</th>
                                    <th>Count</th>
                                    <th>Summary amount</th>
                                </tr>
                                {% for index, company in companies %}
                                    <tr>
                                        <td>{{ index + 1 }}</td>
                                        <td>{{ company.name }}</td>
                                        <td>{{ company.donations.count }}</td>
                                        <td>{{ company.totalAmount }}</td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
    <script>
        const ctx = $("#myChart");
        const data = ctx.data('data');
        const labels = Object.keys(data);
        const values = Object.values(data)

        const myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: labels,
                datasets: [{
                    data: values,
                    lineTension: 0,
                    backgroundColor: 'transparent',
                    borderColor: '#007bff',
                    borderWidth: 4,
                    pointBackgroundColor: '#007bff'
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: false
                        }
                    }]
                },
                legend: {
                    display: false,
                }
            }
        });
    </script>
{% endblock %}
