{# Rewrite header menu for feature #}
{% extends 'knp_menu.html.twig' %}

{% block linkElement %}
    <a href="{{ item.uri }}"{{ _self.attributes(item.linkAttributes) }}>
        <span class="name-nav-link">{{ block('label') }}</span>
    </a>
{% endblock %}
